<a href="/logout" class="btn-logout">Logout</a>

<style>
    .btn-logout {
        display: inline-block;
        padding: 10px 20px;
        background-color: #b00a0a;
        color: white;
        text-align: center;
        text-decoration: none;
        border-radius: 9px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        position: relative;
        right: 38vw;
        bottom: 58vh;
        font-size: 18px;
        font-family: 'Poppins';
    }

    .btn-logout:hover {
        background-color: #e60000;
    }
</style>